:root {
    --pokedex-red: #cc0000;
    --pokedex-black: #1a1a1a;
    --pokedex-white: #f5f5f5;
    --pokedex-accent: #ffcc00;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.light.small:last-child {
  animation: blink 1s infinite;
}


.lights {
  display: flex;
  gap: 12px;
  padding: 15px;
  align-items: center;
}

.light {
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset;
}

.light.big {
  width: 50px;
  height: 50px;
  background-color: dodgerblue;
  animation: blink 2s infinite;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset, 0 0 12px dodgerblue;
}

.light.medium {
  width: 30px;
  height: 30px;
  background-color: seagreen;
  animation: blink 1s infinite;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset, 0 0 12px seagreen;
}

.light.small {
  width: 20px;
  height: 20px;
  background-color: var(--pokedex-accent);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset, 0 0 12px var(--pokedex-accent);
}


header {
    background-color: var(--pokedex-black);
    padding: 20px;
    border-bottom: 5px solid var(--pokedex-accent);
    border-radius: 8px;
}

footer {
    background-color: black;
    padding: 10px;
    border-top: 5px solid var(--pokedex-accent);
    border-radius: 8px;
    margin-top: auto;
    text-align: center;
}

h1{
  font-family: "Press Start 2P", Arial, sans-serif;
}

hr {
    border: 2px;
    height: 2px;
    width: 100%;
    background-color: maroon;
    margin: 20px 0;
}

body {
    background-color: var(--pokedex-red);
    color: var(--pokedex-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "VT323", Arial, sans-serif;
    border: 8px solid maroon;
    margin: 0;
    padding: 8px;
}

#guess-input {
    display: block;
    font-family: inherit;
}

#pokemon-image {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto;
}

img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    /*border: 2px solid var(--pokedex-white);
    border-radius: 8px;*/
}


#quiz-card {
    padding: 20px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 90%;
    background-color: var(--pokedex-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--pokedex-white);
}

button {
    background-color: var(--pokedex-white);
    color: var(--pokedex-black);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover {
    background-color: dodgerblue;
       
}

#guess-input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--pokedex-white);
    width: 200px;
    text-align: center;
}

.silhouette {
  filter: brightness(0) invert(1);
}

.hidden {
  display: none;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}